<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.moflon.ide.ui.admin.MoflonPerspective"
            fixed="false"
            icon="resources/icons/moflonSmall.png"
            id="org.moflon.ide.ui.perspective"
            name="eMoflon">
      </perspective>
   </extension>
<extension point="org.eclipse.ui.views">
      <view id="org.moflon.ide.ui.admin.views.GraphView"
         name="Graph View"
         class="org.moflon.ide.ui.admin.views.GraphView"
         icon="resources/icons/moflonSmall.png"
      />
 </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Contains all Moflon related actions"
            id="org.moflon.ide.ui.actionSet"
            label="Moflon Action Set"
            visible="false">
         <action
               class="org.moflon.ide.ui.admin.actions.ConfigureLogging"
               icon="resources/icons/logfile.png"
               id="org.moflon.ide.ui.logging"
               label="Logging"
               style="pulldown"
               toolbarPath="Normal/Moflon"
               tooltip="View and configure logging">
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.RebuildClasses"
               icon="resources/icons/rebuildClasses.png"
               id="org.moflon.ide.ui.admin.actions.RebuildClasses"
               label="Build (without cleaning)"
               toolbarPath="Normal/Moflon">
               style="push">
            <enablement>
               <or>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.IntegrationNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.MetamodelNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.RepositoryNature">
                  </objectState>
               </or>
            </enablement>
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.NewMetamodelAction"
               helpContextId="Create a new metamodel"
               hoverIcon="resources/icons/newMetamodelProject.gif"
               icon="resources/icons/newMetamodelProject.gif"
               id="org.moflon.ide.ui.newMetamodel"
               label="New Metamodel"
               style="push"
               toolbarPath="Normal/Moflon">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.moflon.ide.ui.category"
            name="eMoflon">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.moflon.ide.ui.category"
            class="org.moflon.ide.ui.admin.wizards.metamodel.NewMetamodelWizard"
            finalPerspective="org.moflon.ide.ui.perspective"
            hasPages="true"
            icon="resources/icons/newMetamodelProject.gif"
            id="org.moflon.ide.ui.admin.wizards.metamodel.NewMetamodelWizard"
            name="New Metamodel Wizard"
            preferredPerspectives="org.moflon.ide.ui.perspective"
            project="true">
      </wizard>
      <wizard
            category="org.moflon.ide.ui.category"
            class="org.moflon.ide.ui.admin.wizards.moca.AddParserAndUnparserWizard"
            icon="resources/icons/addParserAndUnparser.png"
            id="org.moflon.ide.ui.admin.wizards.moca.AddParserAndUnparserWizard"
            name="Add Parser/Unparser Wizard">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.moflon.ide.ui.category"
            class="org.moflon.ide.ui.admin.wizards.mosl.NewEClassWizard"
            finalPerspective="org.moflon.ide.ui.perspective"
            hasPages="true"
            icon="resources/icons/classes.gif"
            id="org.moflon.ide.ui.admin.wizards.mosl.NewEClassWizard"
            name="EClass"
            preferredPerspectives="org.moflon.ide.ui.perspective"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.moflon.ide.ui.category"
            class="org.moflon.ide.ui.admin.wizards.mosl.NewEPackageWizard"
            finalPerspective="org.moflon.ide.ui.perspective"
            hasPages="true"
            icon="resources/icons/folder_add.png"
            id="org.moflon.ide.ui.admin.wizards.mosl.NewEPackageWizard"
            name="EPackage"
            preferredPerspectives="org.moflon.ide.ui.perspective"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.moflon.ide.ui.category"
            class="org.moflon.ide.ui.admin.wizards.mosl.NewTGGWizard"
            finalPerspective="org.moflon.ide.ui.perspective"
            hasPages="true"
            icon="resources/icons/plugin_add.png"
            id="org.moflon.ide.ui.admin.wizards.mosl.NewTGGWizard"
            name="TGG"
            preferredPerspectives="org.moflon.ide.ui.perspective"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.moflon.ide.ui.category"
            class="org.moflon.ide.ui.admin.wizards.mosl.NewTGGRuleWizard"
            finalPerspective="org.moflon.ide.ui.perspective"
            hasPages="true"
            icon="resources/icons/link_add.png"
            id="org.moflon.ide.ui.admin.wizards.mosl.NewTGGRuleWizard"
            name="TGG Rule"
            preferredPerspectives="org.moflon.ide.ui.perspective"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="resources/icons/metamodelProject.gif"
            id="org.moflon.ide.ui.MetamodelNatureImage"
            natureId="org.moflon.ide.ui.runtime.natures.MetamodelNature">
      </image>
      <image
            icon="resources/icons/repositoryProject.gif"
            id="org.moflon.ide.ui.RepositoryNatureImage"
            natureId="org.moflon.ide.ui.runtime.natures.RepositoryNature">
      </image>
      <image
            icon="resources/icons/integrationProject.gif"
            id="org.moflon.ide.ui.IntegrationNatureImage"
            natureId="org.moflon.ide.ui.runtime.natures.IntegrationNature">
      </image>
      <image
            icon="resources/icons/viewProject3.gif"
            id="org.moflon.ide.ui.VTGGCompilerNatureImage"
            natureId="org.moflon.ide.ui.runtime.natures.VTGGCompilerNature">
      </image>
      <image
            icon="resources/icons/addParserAndUnparser.png"
            id="org.moflon.ide.ui.AntlrNatureImage"
            natureId="org.moflon.ide.ui.runtime.natures.AntlrNature">
      </image>
   </extension>
   <extension
         id="org.moflon.ide.ui.runtime.natures.MetamodelNature"
         name="Metamodel Nature"
         point="org.eclipse.core.resources.natures">
   </extension>
   <extension
         id="org.moflon.ide.ui.runtime.natures.RepositoryNature"
         name="Repository Nature"         
         point="org.eclipse.core.resources.natures">
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="org.moflon.ide.ui.runtime.natures.IntegrationNature"
         name="Integration Nature"
         point="org.eclipse.core.resources.natures">
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="org.moflon.ide.core.runtime.builders.MetamodelBuilder"
         name="Metamodel Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.moflon.ide.core.runtime.builders.MetamodelBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.moflon.ide.core.runtime.builders.RepositoryBuilder"
         name="Repository Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.moflon.ide.core.runtime.builders.RepositoryBuilder">
         </run></builder>
   </extension>
   <extension
         id="org.moflon.ide.core.runtime.builders.IntegrationBuilder"
         name="Integration Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.moflon.ide.core.runtime.builders.IntegrationBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="resources/icons/moflonSmall.png"
               id="org.moflon.ide.ui.moflon"
               label="eMoflon">
            <separator
                  name="moflonGroupBuilding"
                  visible="true">
            </separator>
            <separator
                  name="moflonGroupAnalysis"
                  visible="true">
            </separator>
            <separator
                  name="moflonGroupConversions"
                  visible="true">
            </separator>
            <separator
                  name="moflonGroupMoca"
                  visible="true">
            </separator>
            <separator
                  name="moflonGroupTie"
                  visible="true">
            </separator>
            <separator
                  name="moflonGroupTesting"
                  visible="true">
            </separator>
            <separator
                  name="additions">
            </separator>
            <visibleWhen
                  checkEnabled="false">
               <or>                  
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <or>
	                        <test
	                           property="org.eclipse.core.resources.projectNature"
	                           value="org.eclipse.jdt.core.javanature">
	                        </test>
	                        <test
	                           property="org.eclipse.core.resources.projectNature"
	                           value="org.moflon.ide.ui.runtime.natures.MetamodelNature">
	                        </test>
	                        <test
	                           property="org.eclipse.core.resources.projectNature"
	                           value="org.moflon.ide.ui.runtime.natures.MOSLNature">
	                        </test>
	                        <test
	                           property="org.eclipse.core.resources.projectNature"
	                           value="org.moflon.ide.ui.runtime.natures.RepositoryNature">
	                        </test>
	                        <test
	                           property="org.eclipse.core.resources.projectNature"
	                           value="org.moflon.ide.ui.runtime.natures.IntegrationNature">
	                        </test>
	                        <test
	                           property="org.eclipse.core.resources.projectNature"
	                           value="org.moflon.ide.ui.runtime.natures.VTGGCompilerNature">
	                        </test>
                        </or>
                     </adapt>
                  </iterate>
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <or>
	                        <test
	                           property="org.eclipse.core.resources.projectNature"
	                           value="org.eclipse.jdt.core.javanature">
	                        </test>
	                        <test
	                           property="org.eclipse.core.resources.projectNature"
	                           value="org.moflon.ide.ui.runtime.natures.MetamodelNature">
	                        </test>
	                        <test
	                           property="org.eclipse.core.resources.projectNature"
	                           value="org.moflon.ide.ui.runtime.natures.MOSLNature">
	                        </test>
	                        <test
	                           property="org.eclipse.core.resources.projectNature"
	                           value="org.moflon.ide.ui.runtime.natures.RepositoryNature">
	                        </test>
	                        <test
	                           property="org.eclipse.core.resources.projectNature"
	                           value="org.moflon.ide.ui.runtime.natures.IntegrationNature">
	                        </test>
	                        <test
	                           property="org.eclipse.core.resources.projectNature"
	                           value="org.moflon.ide.ui.runtime.natures.VTGGCompilerNature">
	                        </test>
                        </or>
                  </adapt>
                  <and>
                     <with
                           variable="activeEditorId">
                        <equals
                              value="org.eclipse.jdt.ui.CompilationUnitEditor">
                        </equals>
                     </with>
                     <with
                           variable="activeEditorInput">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                              <or>
                                 <test
                                    property="org.eclipse.core.resources.projectNature"
                                    value="org.eclipse.jdt.core.javanature">
                                 </test>
			                     <test
			                        property="org.eclipse.core.resources.projectNature"
			                        value="org.moflon.ide.ui.runtime.natures.MetamodelNature">
			                     </test>
			                     <test
			                        property="org.eclipse.core.resources.projectNature"
			                        value="org.moflon.ide.ui.runtime.natures.MOSLNature">
			                     </test>
			                     <test
			                        property="org.eclipse.core.resources.projectNature"
			                        value="org.moflon.ide.ui.runtime.natures.RepositoryNature">
			                     </test>
			                     <test
			                        property="org.eclipse.core.resources.projectNature"
			                        value="org.moflon.ide.ui.runtime.natures.IntegrationNature">
			                     </test>
			                     <test
			                        property="org.eclipse.core.resources.projectNature"
			                        value="org.moflon.ide.ui.runtime.natures.VTGGCompilerNature">
			                     </test>
			                  </or>
                        </adapt>
                     </with>
                  </and>
               </or>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.moflon.ide.ui.objectContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               icon="resources/icons/moflonSmall.png"
               id="org.moflon.ide.ui.moflon"
               label="eMoflon"
               path="additions">
            <separator
                  name="moflonGroupBuilding">
            </separator>
            <separator
                  name="moflonGroupAnalysis">
            </separator>
            <separator
                  name="moflonGroupConversions">
            </separator>
            <separator
                  name="moflonGroupMoca">
            </separator>
            <separator
                  name="moflonGroupTie">
            </separator>
            <separator
                  name="moflonGroupTesting">
            </separator>
         </menu>
         <action
               class="org.moflon.ide.ui.admin.actions.AddParserAndUnparserAction"
               icon="resources/icons/addParserAndUnparser.png"
               id="org.moflon.ide.ui.admin.wizards.moca.AddParserAndUnparser"
               label="Add Parser/Unparser"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroupMoca"
               style="push">
            <enablement>
               <objectState
                     name="projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
            </enablement>
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.ConvertToMOSLAction"
               enablesFor="1"
               icon="resources/icons/patterns.gif"
               id="org.moflon.ide.ui.admin.actions.ConvertToMOSLAction"
               label="Convert project to textual syntax (MOSL)"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroupConversions">
            <enablement>
           		<and>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.MetamodelNature">
                  </objectState>
                  <not>
	                  <objectState
	                        name="projectNature"
	                        value="org.moflon.ide.ui.runtime.natures.MOSLNature">
	                  </objectState>
                  </not>
           		</and>
            </enablement>
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.ConvertToDot"
               enablesFor="1"
               icon="resources/icons/convertToDot.png"
               id="org.moflon.ide.ui.admin.actions.ConvertToDot"
               label="Convert to dot"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroupConversions"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.AnalyzeProjectAction"
               enablesFor="1"
               icon="resources/icons/metrics.png"
               id="org.moflon.ide.ui.admin.wizards.moca.AddParserAndUnparser"
               label="Analyze generated project (Bayreuth metrics)"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroupAnalysis">
            <enablement>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.CreateInjectionAction"
               icon="resources/icons/noun_project_7402.png"
               id="org.moflon.ide.ui.admin.actions.CreateInjection"
               label="Create/Update Injection for class"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroupBuilding"
               style="push">
            <enablement>
               <and>
                  <objectState
                        name="extension"
                        value="java">
                  </objectState>
                  <or>
                     <objectState
                           name="projectNature"
                           value="org.moflon.ide.ui.runtime.natures.RepositoryNature">
                     </objectState>
                     <objectState
                           name="projectNature"
                           value="org.moflon.ide.ui.runtime.natures.IntegrationNature">
                     </objectState>
                  </or>
               </and>
            </enablement>
         </action> 
          <action
               class="org.moflon.ide.ui.admin.actions.StartIntegrator"
               enablesFor="1"
               icon="resources/icons/model_integrator.gif"
               id="org.moflon.ide.ui.admin.actions.StartIntegrator"
               label="Start Integrator"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroupTie">
            <enablement>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.RebuildClasses"
               icon="resources/icons/rebuildClasses.png"
               id="org.moflon.ide.ui.admin.actions.RebuildClasses"
               label="Build"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroupBuilding"
               style="push">
            <enablement>
               <or>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.IntegrationNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.MetamodelNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.RepositoryNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.VTGGCompilerNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.TestframeworkNature">
                  </objectState>
               </or>
            </enablement>
         </action>
         
         
         
         <action
               class="org.moflon.ide.ui.admin.actions.CleanClasses"
               icon="resources/icons/cleanClasses.png"
               id="org.moflon.ide.ui.admin.actions.CleanClasses"
               label="Clean (and Build)"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroupBuilding"
               style="push">
            <enablement>
               <or>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.IntegrationNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.MetamodelNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.RepositoryNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.VTGGCompilerNature">
                  </objectState>
               </or>
            </enablement>
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.FilterProtocol"
               icon="resources/icons/metrics.png"
               id="org.moflon.ide.ui.admin.actions.FilterProtocol"
               label="Filter Protocol"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroupMoca"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
            </enablement>
         </action>
      </objectContribution>
   </extension>
   <extension
         id="org.moflon.ide.ui.runtime.natures.MOSLNature"
         name="MOSL Nature"
         point="org.eclipse.core.resources.natures">
   </extension>
   <extension
         id="org.moflon.ide.core.runtime.builders.MOSLBuilder"
         name="MOSL Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.moflon.ide.core.runtime.builders.MOSLBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.moflon.ide.ui.runtime.natures.VTGGCompilerNature"
         name="VTGGCompiler Nature"
         point="org.eclipse.core.resources.natures">
      <requires-nature
            id="org.moflon.ide.ui.runtime.natures.IntegrationNature">
      </requires-nature>
   </extension>
   <extension
         id="org.moflon.ide.core.runtime.builders.ViewIntegrationBuilder"
         name="VTGG Integration Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.moflon.ide.core.runtime.builders.ViewIntegrationBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.moflon.ide.ui.runtime.natures.AntlrNature"
         point="org.eclipse.core.resources.natures">
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
   </extension>
   <extension
         id="org.moflon.ide.core.runtime.builders.AntlrBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.moflon.ide.core.runtime.builders.AntlrBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.moflon.ide.AntlrEditorProblem"
         name="Antlr Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         id="org.moflon.ide.MOSLProblem"
         name="MOSL Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.moflon.ide.ui.perspective">
            <newWizardShortcut id="org.moflon.ide.ui.admin.wizards.mosl.NewEClassWizard"/>
            <newWizardShortcut id="org.moflon.ide.ui.admin.wizards.mosl.NewTGGWizard"/>
            <newWizardShortcut id="org.moflon.ide.ui.admin.wizards.mosl.NewTGGRuleWizard"/>
            <newWizardShortcut
                  id="org.moflon.ide.ui.admin.wizards.mosl.NewEPackageWizard">
            </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         id="org.moflon.textualEditor.contentTypes"
         name="MoflonContentTypes"
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="inject"
            id="org.moflon.textualEditor.contentTypes.moflon.injection"
            name="eMoflon Injection File"
            priority="high">
      </content-type>
      <content-type
            file-extensions="eclass"
            id="org.moflon.textualEditor.contentTypes.mosl.eclass"
            name="MOSL eclass files"
            priority="high">
      </content-type>
      <content-type
            file-extensions="pattern"
            id="org.moflon.textualEditor.contentTypes.mosl.pattern"
            name="MOSL pattern files"
            priority="high">
      </content-type>
      <content-type
            file-extensions="mconf"
            id="org.moflon.textualEditor.contentTypes.mosl.mconf"
            name="MOSL config files"
            priority="high">
      </content-type>
      <content-type
            file-extensions="sch"
            id="org.moflon.textualEditor.contentTypes.mosl.sch"
            name="MOSL TGG schema files"
            priority="high">
      </content-type>
      <content-type
            file-extensions="tgg"
            id="org.moflon.textualEditor.contentTypes.mosl.tgg"
            name="MOSL TGG rule files"
            priority="high">
      </content-type>
            <content-type
            file-extensions="vm"
            id="org.moflon.textualEditor.contentTypes.velocity"
            name="Velocity templates"
            priority="normal">
      </content-type>
      <content-type
            file-extensions="g"
            id="org.moflon.textualEditor.contentTypes.antlr"
            name="ANTLR files"
            priority="high">
      </content-type>
      <content-type
            file-extensions="stg"
            id="org.moflon.textualEditor.contentTypes.stringTemplate"
            name="StringTemplate files"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.moflon.ide.ui.admin.editors.injection.InjectionTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            icon="resources/icons/noun_project_7402.png"
            id="org.moflon.ide.ui.admin.editors.injection.InjectionTextEditor"
            name="eMoflon Injection Editor">
         <contentTypeBinding
               contentTypeId="org.moflon.textualEditor.contentTypes.moflon.injection">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.moflon.ide.ui.admin.editors.mosl.EClassTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="resources/icons/classes.gif"
            id="org.moflon.ide.ui.admin.editors.mosl.EClassTextEditor"
            name="eMoflon EClass Editor">
         <contentTypeBinding
               contentTypeId="org.moflon.textualEditor.contentTypes.mosl.eclass">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.moflon.ide.ui.admin.editors.mosl.MConfTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="resources/icons/classes.gif"
            id="org.moflon.ide.ui.admin.editors.mosl.MConfTextEditor"
            name="eMoflon MConf Editor">
         <contentTypeBinding
               contentTypeId="org.moflon.textualEditor.contentTypes.mosl.mconf">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.moflon.ide.ui.admin.editors.mosl.PatternTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="resources/icons/patterns.gif"
            id="org.moflon.ide.ui.admin.editors.mosl.PatternTextEditor"
            name="eMoflon Pattern Editor">
         <contentTypeBinding
               contentTypeId="org.moflon.textualEditor.contentTypes.mosl.pattern">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.moflon.ide.ui.admin.editors.mosl.SchTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="resources/icons/plugin.png"
            id="org.moflon.ide.ui.admin.editors.mosl.SchTextEditor"
            name="eMoflon Sch Editor">
         <contentTypeBinding
               contentTypeId="org.moflon.textualEditor.contentTypes.mosl.sch">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.moflon.ide.ui.admin.editors.mosl.TggTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="resources/icons/link.png"
            id="org.moflon.ide.ui.admin.editors.mosl.TggTextEditor"
            name="eMoflon TGG Editor">
         <contentTypeBinding
               contentTypeId="org.moflon.textualEditor.contentTypes.mosl.tgg">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.moflon.ide.ui.admin.editors.antlr.AntlrTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="resources/icons/addTextEditor.png"
            id="org.moflon.ide.ui.admin.editors.antlr.AntlrTextEditor"
            name="eMoflon Antlr Editor">
         <contentTypeBinding
               contentTypeId="org.moflon.textualEditor.contentTypes.antlr">
         </contentTypeBinding>
      </editor>
      <editor
            class="org.moflon.ide.ui.admin.editors.antlr.StringTemplateTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="resources/icons/addTextEditor.png"
            id="org.moflon.ide.ui.admin.editors.antlr.StringTemplateTextEditor"
            name="eMoflon StringTemplate Editor">
         <contentTypeBinding
               contentTypeId="org.moflon.textualEditor.contentTypes.stringTemplate">
         </contentTypeBinding>
      </editor>
            <editor
            class="org.moflon.ide.ui.admin.editors.misc.VelocityTextEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            icon="resources/icons/addTextEditor.png"
            id="org.moflon.ide.ui.admin.editors.misc.VelocityTextEditor"
            name="eMoflon Velocity Editor">
         <contentTypeBinding
               contentTypeId="org.moflon.textualEditor.contentTypes.velocity">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.moflon.ide.ui.admin.assist.mosl.MOSLMarkerResolutionGenerator"
            markerType="org.moflon.ide.MOSLProblem">
      </markerResolutionGenerator>
   </extension>
   
   <extension point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="true"
            label="%Decorator_name"
            class="org.moflon.ide.ui.decorators.MOSLLightweightDecorator"
            state="true"
            location="BOTTOM_RIGHT"
            id="org.moflon.ide.ui.decorators.MOSLLightweightDecorator">
            <enablement>
            	<and>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.MOSLNature">
                  </objectState>
	              <objectClass name="org.eclipse.core.resources.IProject"/>
            	</and>
            </enablement>
         <description>
            %Decorator_description
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.moflon.ide.ui.admin.actions.validation.ValidateSDM"
            commandId="org.moflon.validation.sdm.ValidateSDM">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.moflon.validation.sdm.ValidateSDM"
            name="ValidateSDM">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.moflon.ide.ui.moflon?after=additions">
         <command
               commandId="org.moflon.validation.sdm.ValidateSDM"
               label="Validate SDM"
               style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <and>
                        <adapt
                           type="org.eclipse.core.resources.IResource">
                           <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.moflon.ide.ui.runtime.natures.RepositoryNature">
                           </test>
                        </adapt>
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 property="org.eclipse.core.resources.contentTypeId"
                                 value="org.eclipse.emf.ecore">
                           </test>
                        </adapt>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.moflon.ide.ui.admin.actions.Validate"
            commandId="org.moflon.validation.sdm.Validate">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.moflon.validation.sdm.Validate"
            name="Validate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.moflon.ide.ui.moflon?after=additions">
         <command
               commandId="org.moflon.validation.sdm.Validate"
               icon="resources/icons/validate.gif"
               label="Validate"
               style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <and>
                        <adapt
                           type="org.eclipse.core.resources.IResource">
                           <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.moflon.ide.ui.runtime.natures.RepositoryNature">
                           </test>
                        </adapt>
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 property="org.eclipse.core.resources.contentTypeId"
                                 value="org.eclipse.emf.ecore">
                           </test>
                        </adapt>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>
