<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.moflon.ide.ui.admin.MoflonPerspective"
            fixed="false"
            icon="resources/icons/moflonSmall.png"
            id="org.moflon.ide.ui.perspective"
            name="Moflon">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="Contains all Moflon related actions"
            id="org.moflon.ide.ui.actionSet"
            label="Moflon Action Set"
            visible="false">
         <action
               class="org.moflon.ide.ui.admin.actions.ConfigureLogging"
               icon="resources/icons/logfile.png"
               id="org.moflon.ide.ui.logging"
               label="Logging"
               style="pulldown"
               toolbarPath="Normal/Moflon"
               tooltip="View and configure logging">
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.NewMetamodelAction"
               helpContextId="Create a new metamodel"
               hoverIcon="resources/icons/newMetamodelProject.gif"
               icon="resources/icons/newMetamodelProject.gif"
               id="org.moflon.ide.ui.newMetamodel"
               label="New Metamodel"
               style="push"
               toolbarPath="Normal/Moflon">
         </action>
      </actionSet>
   </extension>
   <extension
         id="org.moflon.ide.ui.admin.wizards.model.newWizards"
         name="MOFLON New Wizards"
         point="org.eclipse.ui.newWizards">
      <category
            id="org.moflon.ide.ui.category"
            name="MOFLON">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.moflon.ide.ui.category"
            class="org.moflon.ide.ui.admin.wizards.metamodel.NewMetamodelWizard"
            finalPerspective="org.moflon.ide.ui.perspective"
            hasPages="true"
            icon="resources/icons/newMetamodelProject.gif"
            id="org.moflon.ide.ui.admin.wizards.metamodel.NewMetamodelWizard"
            name="New Metamodel Wizard"
            preferredPerspectives="org.moflon.ide.ui.perspective"
            project="true">
      </wizard>
      <wizard
            class="org.moflon.ide.ui.admin.wizards.moca.AddParserAndUnparserWizard"
            id="org.moflon.ide.ui.admin.wizards.moca.AddParserAndUnparserWizard"
            name="Add Parser/Unparser Wizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="resources/icons/metamodelProject.gif"
            id="org.moflon.ide.ui.MetamodelNatureImage"
            natureId="org.moflon.ide.ui.runtime.natures.MetamodelNature">
      </image>
      <image
            icon="resources/icons/repositoryProject.gif"
            id="org.moflon.ide.ui.RepositoryNatureImage"
            natureId="org.moflon.ide.ui.runtime.natures.RepositoryNature">
      </image>
      <image
            icon="resources/icons/integrationProject.gif"
            id="org.moflon.ide.ui.IntegrationNatureImage"
            natureId="org.moflon.ide.ui.runtime.natures.IntegrationNature">
      </image>
      <image
            icon="resources/icons/viewProject3.gif"
            id="org.moflon.ide.ui.VTGGCompilerNatureImage"
            natureId="org.moflon.ide.ui.runtime.natures.VTGGCompilerNature">
      </image>
   </extension>
   <extension
         id="org.moflon.ide.ui.runtime.natures.MetamodelNature"
         name="Metamodel Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.moflon.ide.ui.runtime.natures.MetamodelNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="org.moflon.ide.ui.runtime.natures.RepositoryNature"
         name="Repository Nature"         
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.moflon.ide.ui.runtime.natures.RepositoryNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="org.moflon.ide.ui.runtime.natures.IntegrationNature"
         name="Integration Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.moflon.ide.ui.runtime.natures.IntegrationNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="org.moflon.ide.core.runtime.builders.MetamodelBuilder"
         name="Metamodel Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.moflon.ide.core.runtime.builders.MetamodelBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.moflon.ide.core.runtime.builders.RepositoryBuilder"
         name="Repository Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.moflon.ide.core.runtime.builders.RepositoryBuilder">
         </run></builder>
   </extension>
   <extension
         id="org.moflon.ide.core.runtime.builders.IntegrationBuilder"
         name="Integration Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.moflon.ide.core.runtime.builders.IntegrationBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.moflon.ide.ui.objectContribution"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               icon="resources/icons/moflonSmall.png"
               id="org.moflon.ide.ui.moflon"
               label="eMoflon"
               path="additions">
            <separator
                  name="moflonGroup">
            </separator>
         </menu>
         <action
               class="org.moflon.ide.ui.admin.actions.AnalyzeProjectAction"
               enablesFor="1"
               icon="resources/icons/metrics.png"
               id="org.moflon.ide.ui.admin.wizards.moca.AddParserAndUnparser"
               label="Analyze generated project (Bayreuth metrics)"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroup">
            <enablement>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.Validate"
               icon="resources/icons/validate.gif"
               id="org.moflon.ide.ui.admin.actions.Validate"
               label="Validate"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroup">
            <enablement>
               <and>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.RepositoryNature">
                  </objectState>
                  <objectState
                        name="extension"
                        value="ecore">
                  </objectState>
               </and>
            </enablement>
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.AddParserAndUnparserAction"
               icon="resources/icons/addParserAndUnparser.png"
               id="org.moflon.ide.ui.admin.wizards.moca.AddParserAndUnparser"
               label="Add Parser/Unparser"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroup"
               style="push">
            <enablement>
               <objectState
                     name="projectNature"
                     value="org.eclipse.jdt.core.javanature">
               </objectState>
            </enablement>
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.AddTextEditorAction"
               icon="resources/icons/addTextEditor.png"
               id="org.moflon.ide.ui.admin.wizards.moca.AddTextEditor"
               label="Add Text Editor"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroup"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
            </enablement>
         </action> 
          <action
               class="org.moflon.ide.ui.admin.actions.StartIntegrator"
               enablesFor="1"
               icon="resources/icons/model_integrator.gif"
               id="org.moflon.ide.ui.admin.actions.StartIntegrator"
               label="Start Integrator"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroup">
            <enablement>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
            </enablement>
         </action>
         
         
         
         <action
               class="org.moflon.ide.ui.admin.actions.DeletePreservePath"
               icon="resources/icons/cleanClasses.png"
               id="org.moflon.ide.ui.admin.actions.DeletePreservePath"
               label="Remove from preserve path"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroup"
               style="push">
            <enablement>
               <or>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.IntegrationNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.MetamodelNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.RepositoryNature">
                  </objectState>
               </or>
            </enablement>
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.AddPreservePath"
               icon="resources/icons/validate.gif"
               id="org.moflon.ide.ui.admin.actions.AddPreservePath"
               label="Add to preserve path"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroup"
               style="push">
            <enablement>
               <or>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.IntegrationNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.MetamodelNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.RepositoryNature">
                  </objectState>
               </or>
            </enablement>
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.ConvertToDot"
               enablesFor="1"
               icon="resources/icons/convertToDot.png"
               id="org.moflon.ide.ui.admin.actions.ConvertToDot"
               label="Convert to dot"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroup"
               style="push">
            <enablement>
               <objectClass
                     name="org.eclipse.core.resources.IFile">
               </objectClass>
            </enablement>
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.CleanClasses"
               icon="resources/icons/cleanClasses.png"
               id="org.moflon.ide.ui.admin.actions.CleanClasses"
               label="Clean (without building)"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroup"
               style="push">
            <enablement>
               <or>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.IntegrationNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.MetamodelNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.RepositoryNature">
                  </objectState>
               </or>
            </enablement>
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.RebuildClasses"
               icon="resources/icons/rebuildClasses.png"
               id="org.moflon.ide.ui.admin.actions.RebuildClasses"
               label="Build (without cleaning)"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroup"
               style="push">
            <enablement>
               <or>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.IntegrationNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.MetamodelNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.RepositoryNature">
                  </objectState>
               </or>
            </enablement>
         </action>
         <action
               class="org.moflon.ide.ui.admin.actions.CleanAndBuildClasses"
               icon="resources/icons/cleanAndRebuildClasses.png"
               id="org.moflon.ide.ui.admin.actions.CleanAndBuildClasses"
               label="Clean and Build"
               menubarPath="org.moflon.ide.ui.moflon/moflonGroup"
               style="push">
            <enablement>
               <or>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.IntegrationNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.MetamodelNature">
                  </objectState>
                  <objectState
                        name="projectNature"
                        value="org.moflon.ide.ui.runtime.natures.RepositoryNature">
                  </objectState>
               </or>
            </enablement>
         </action>                   
      </objectContribution>
   </extension>
   <extension
         id="org.moflon.ide.ui.runtime.natures.MOSLNature"
         name="MOSL Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.moflon.ide.ui.runtime.natures.MOSLNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="org.moflon.ide.core.runtime.builders.MOSLBuilder"
         name="MOSL Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.moflon.ide.core.runtime.builders.MOSLBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.moflon.ide.ui.admin.wizards.texteditor.MoflonTextEditorClasspathContainerInitializer"
            id="org.moflon.ide.EDITOR_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         id="org.moflon.ide.ui.runtime.natures.VTGGCompilerNature"
         name="VTGGCompiler Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.moflon.ide.ui.runtime.natures.IntegrationNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="org.moflon.ide.core.runtime.builders.VTGGCompilerBuilder"
         name="VTGGCompiler Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.moflon.ide.core.runtime.builders.IntegrationBuilder">
         </run>
      </builder>
   </extension>

</plugin>
