<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.moflon2contiki.ide.ui.runtime.natures.ContikiRepositoryNature"
         name="Contiki Repository Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.moflon2contiki.ide.ui.runtime.natures.ContikiRepositoryNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="org.moflon2contiki.ide.ui.runtime.natures.ContikiMetamodelNature"
         name="Contiki Metamodel Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.moflon2contiki.ide.ui.runtime.natures.ContikiMetamodelNature">
         </run>
      </runtime>
   </extension>
   <extension
         id="org.moflon2contiki.ide.core.runtime.builders.ContikiMetamodelBuilder"
         name="Contiki Metamodel Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.moflon2contiki.ide.core.runtime.builders.ContikiMetamodelBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.moflon2contiki.ide.core.runtime.builders.ContikiRepositoryBuilder"
         name="Contiki Repository Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.moflon2contiki.ide.core.runtime.builders.ContikiRepositoryBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.moflon.ide.ui.category"
            name="eMoflon">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.moflon.ide.ui.category"
            class="org.moflon2contiki.ide.ui.admin.wizards.metamodel.NewContikiMetamodelWizard"
            finalPerspective="org.moflon.ide.ui.perspective"
            hasPages="true"
            id="org.moflon2contiki.ide.ui.admin.wizards.metamodel.NewContikiMetamodelWizard"
            name="New Contiki Metamodel Wizard"
            preferredPerspectives="org.moflon.ide.ui.perspective"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.moflon.ide.ui.toolbar"
               label="eMoflon Toolbar">
            <command
                  commandId="org.moflon2contiki.ide.ui.commands.build.BuildCommand"
                  icon="resources/icons/rebuildClasses.png"
                  label="BuildContiki"
                  mnemonic="C"
                  style="push"
                  tooltip="Build Contiki Code">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="org.moflon.ide.ui.definitions.isMoflonPerspective">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.moflon.ide.ui.commands.MainCategory"
            id="org.moflon2contiki.ide.ui.commands.build.BuildCommand"
            name="BuildContiki">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.moflon2contiki.ide.ui.admin.handlers.BuildHandler"
            commandId="org.moflon2contiki.ide.ui.commands.build.BuildCommand">
         <enabledWhen>
            <or>
               <with
                     variable="selection">
                  <iterate
                        operator="or">
                     <reference
                           definitionId="org.moflon.ide.ui.definitions.isProject">
                     </reference>
                  </iterate>
               </with>
               <with
                     variable="activeEditorInput">
                  <or>
                     <reference
                           definitionId="org.moflon.ide.ui.definitions.hasIntegrationNature">
                     </reference>
                     <reference
                           definitionId="org.moflon.ide.ui.definitions.hasMetamodelNature">
                     </reference>
                     <reference
                           definitionId="org.moflon.ide.ui.definitions.hasRepositoryNature">
                     </reference>
                  </or>
                  <reference
                        definitionId="org.moflon.ide.ui.definitions.isInPackageExplorer">
                  </reference>
                  <reference
                        definitionId="org.moflon.ide.ui.definitions.isInProjectExplorer">
                  </reference>
               </with>
            </or>
         </enabledWhen>
      </handler>
   </extension>
</plugin>
