<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.startup">
     <startup class="autobuildplugin.Activator"/>
	</extension>
   <extension
         point="org.eclipse.ui.bindings">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="autobuildplugin.preferences.moflon.devtools"
            class="autobuildplugin.preferences.AutoBuildPreferencePage"
            id="autobuildplugin.preferences.moflon.devtools.autotest"
            name="AutoBuild">
      </page>
      <page
            class="autobuildplugin.preferences.MoflonPreferencePage"
            id="autobuildplugin.preferences.moflon"
            name="Moflon">
      </page>
      <page
            category="autobuildplugin.preferences.moflon"
            class="autobuildplugin.preferences.DevToolsPreferencePage"
            id="autobuildplugin.preferences.moflon.devtools"
            name="DevTools">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="autobuildplugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.moflon.ide.ui.addon.actionSet"
            label="Moflon Action Set Addon"
            visible="false">
         <action
               class="org.moflon.moflonautotestplugin.actions.StartMoflonAutoTestPluginAction"
               icon="icons/junitmoflon.gif"
               id="org.moflon.moflonautotestplugin.actions.StartMoflonAutoTestPluginAction"
               label="&amp;Moflon Auto Build"
               style="pulldown"
               toolbarPath="Normal/Moflon">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.moflon.ide.ui.perspective">
         <actionSet
               id="org.moflon.ide.ui.addon.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>

</plugin>
